<xreal-referral>
  <button referral-button></button>
  <div class="xrealReferralPopup hidden">
    <p id="popupContent">登录判断</p>
    <button close-button>Close</button>
  </div>
</xreal-referral>

{% schema %}
{
  "name": "Referral popup",
  "target": "body",
  "stylesheet": "referral.css",
  "javascript": "referral.js",
  "settings": []
}
{% endschema %}